---
import Header1bg from "../components/Header1bg.astro";
import Eventcard from "../components/Eventcard.astro";
import Starh2 from "../components/Starh2.astro";
import "../css/base.css";
import Filter from "../components/Filter.astro";
import HuskelisteKnap from "../components/HuskelisteKnap.astro";
const udvalgteEvents = [
  {
    title: "Lorem Ipsum",
    time: "19:00 - 21:30",
    location: "Lokation/sted",
    image: "../src/assets/beltsection-img.webp",
  },
  {
    title: "Lorem Ipsum",
    time: "19:00 - 21:30",
    location: "Lokation/sted",
    image: "../src/assets/beltsection-img.webp",
  },
  {
    title: "Lorem Ipsum",
    time: "19:00 - 21:30",
    location: "Lokation/sted",
    image: "../src/assets/beltsection-img.webp",
  },
  {
    title: "Lorem Ipsum",
    time: "19:00 - 21:30",
    location: "Lokation",
    image: "../src/assets/beltsection-img.webp",
  },
];

const familieEvents = [
  {
    title: "Lorem Ipsum",
    time: "19:00 - 21:30",
    location: "Lokation/sted",
    image: "../src/assets/beltsection-img.webp",
  },
  {
    title: "Lorem Ipsum",
    time: "19:00 - 21:30",
    location: "Lokation/sted",
    image: "../src/assets/beltsection-img.webp",
  },
  {
    title: "Lorem Ipsum",
    time: "19:00 - 21:30",
    location: "Lokation/sted",
    image: "../src/assets/beltsection-img.webp",
  },
  {
    title: "Lorem Ipsum",
    time: "19:00 - 21:30",
    location: "Lokation",
    image: "../src/assets/beltsection-img.webp",
  },
];
---

<Header1bg title="Program 25" />
<Filter />
<section>
  <div class="event_div">
    <div class="title-and-button">
      <Starh2 title="Udvalgte" />
      <div class="huskeliste">
        <HuskelisteKnap
          text="huskeliste"
          icon="../src/assets/heart/fill-icon.svg"
        />
      </div>
    </div>
    <div class="event_list">
      {udvalgteEvents.map((event) => <Eventcard {...event} />)}
    </div>
  </div>
  <div class="event_div">
    <Starh2 title="Begivenheder for hele familien" />
    <div class="event_list">
      {familieEvents.map((event) => <Eventcard {...event} />)}
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 200px;
  }

  .event_div {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .title-and-button {
    display: flex;
    justify-content: space-between;
  }

  .event_div .huskeliste {
    place-self: end;
    align-self: center;
  }

  .event_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(838px, 1fr));
    gap: 20px;
  }
</style>
