---
import Starh2 from "../components/Starh2.astro";
import Cta1 from "./Cta1.astro";
---

<section>
  <Starh2 title="For arrangører:" />
  <h1>Vil du afholde en begivenhed?</h1>
  <h3>Alle kan deltage med arrangementer på Kulturnatten</h3>
  <p>
    Store som små organisationer, institutioner og enkeltpersoner skaber på
    Kulturnatten sammen liv i hele byen.  <br /> Hvis du har lyst til at deltage
    med et arrangement på Kulturnatten, kan du få det med i det fælles program. <br
    />
    <br /> Som arrangører har I selv det fulde ansvar for begivenheden, herunder
    sikkerhed <br /> og indhentning af eventuelle nødvendige tilladelser.
  </p>
  <a href="#">Du kan læse mere om de praktiske oplysninger her.</a>
  <Cta1 text="Bliv arrangør" />
</section>

<style>
  h1 {
    line-height: 1;
    margin-top: -40px;
  }

  h3 {
    margin-top: -10px;
  }

  a {
    display: block;
    margin-bottom: 40px;
  }

  p {
    margin-top: 40px;
  }

  section {
    background-image: url(src/assets/decoration/Light-streak.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-left: 3vw;
    padding-right: 4vw;
    margin-top: -20px;
  }

  @media (min-width: 700px) {
    section {
      margin-top: 20px;
    }
    h1 {
      margin-top: -10px;
    }
    h3 {
      margin-top: 30px;
    }

    a {
      margin-top: 30px;
    }
  }
</style>
