---

---

<header>
  <nav>
    <ul>
      <li>
        <label for="program"><p>Program</p></label><select
          name="program"
          id="headerselectprogram"
        >
          <option value="helsingoer"><a href="">Helsingør</a></option>
          <option value="tikoeb"><a href="">Tikøb</a></option>
          <option value="espergade"><a href="">Espergade</a></option>

        </select>
      </li>
    </ul>
  </nav>
  <a href="" class="logo"></a>
</header>
