---
const { text, url, icon } = Astro.props;
import "../css/base.css";
---

<a href={url}>
  <button>
    <div class="cta2">
      <img src={icon} alt="" />{text}
    </div>
  </button>
</a>

<style>
  a {
    text-decoration: none;
  }
  button {
    background-color: var(--DarkerTurquoise);
    border: 0.5px solid var(--LightestTurquoise);
    border-radius: 3px;
    padding: 8px;
    box-shadow: 1px 2px 6px black;
    width: 150px;
  }

  button:hover {
    border: 0.5px solid var(--Purple);
  }

  button:hover .cta2 {
    color: var(--Purple);
  }

  .cta2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  img {
    width: 16px;
  }
</style>
