---
const { title } = Astro.props;
---

<div>
  <img src="../src/assets/star/green/medium.svg" alt="" />
  <h2>{title}</h2>
</div>

<style>
  div {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }

  img {
    width: 35px;
  }
  @media (min-width: 700px) {
    img {
      width: 45px;
    }
  }
</style>
