/* RESET */

reset * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* COLOR VARIATIONS */

:root {
  /* for header and footer */
  --DarkestTurquoise: #0e171e;

  /* main background */
  --DarkerTurquoise: #121c25;

  /* belt sections */
  --DarkTurquoise: #192832;

  /* paragraph text, CTA2-text */
  --LightTurquoise: #d2f2f6;

  /* forms-background, search-bar-background */
  --LighterTurquoise: #e9f1f4;

  /* h3-text, CTA1-text */
  --LightestTurquoise: #effafc;

  /* CTA1-background, link text, search-icon*/
  --Purple: #a37bef;

  /* h2-text, search-icon-background */
  --LightPurple: #d6c3f8;

  /* Logo, hero-text */
  --Green: #b0ffb5;

  /* h1-text */
  --LightGreen: #d2ffd5;
}

/* FONTS */

@font-face {
  font-family: "Darker Grotesque";
  src:
    url("/src/assets/fonts/DarkerGrotesque-Light.woff2") format("woff2"),
    url("/src/assets/fonts/DarkerGrotesque-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src:
    url("/src/assets/fonts/DMSans-9ptRegular.woff2") format("woff2"),
    url("/src/assets/fonts/DMSans-9ptRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
