/* RESET */

reset * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  background-color: var(--DarkerTurquoise);
  overflow-x: hidden;
}
body,
main,
header,
section {
  overflow-x: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

/* COLOR VARIATIONS */

:root {
  /* for header and footer */
  --DarkestTurquoise: hsla(207, 33%, 9%, 1);

  /* main background */
  --DarkerTurquoise: hsla(210, 33%, 11%, 1);

  /* belt sections */
  --DarkTurquoise: hsla(206, 31%, 15%, 1);

  /* paragraph text, CTA2-text */
  --LightTurquoise: hsla(188, 61%, 89%, 1);

  /* forms-background, search-bar-background */
  --LighterTurquoise: hsla(195, 33%, 93%, 1);

  /* h3-text, CTA1-text */
  --LightestTurquoise: hsla(188, 67%, 96%, 1);

  /* CTA1-background, link text, search-icon */
  --Purple: hsla(260, 76%, 71%, 1);

  /* h2-text, search-icon-background */
  --LightPurple: hsla(260, 77%, 86%, 1);

  /* Logo, hero-text */
  --Green: hsla(124, 100%, 85%, 1);

  /* h1-text */
  --LightGreen: hsla(124, 100%, 91%, 1);
}

.darker-grotesque {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h4 {
  font-family: "Darker Grotesque";
  letter-spacing: 1%;
}

h1 {
  font-size: 4.125rem;
  font-weight: 300;
  color: var(--Green);
}

h2 {
  font-size: 3.4rem;
  font-weight: 300;
  color: var(--LightGreen);
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--LightestTurquoise);
}

h3,
a,
p,
.menu {
  font-family: "DM Sans";
  letter-spacing: 1%;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--LightPurple);
}

.menu {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--Purple);
}

a {
  font-size: 0.9rem;
  font-weight: 200;
  font-style: italic;
  text-decoration: underline;
  color: var(--Purple);
}

a:hover,
button:hover {
  cursor: pointer;
}

p {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 2%;
  line-height: 2;
  color: var(--LightTurquoise);
}

main h1,
h2,
h3,
h4,
p,
a {
  margin: 3vw;
}

.cta1 {
  font-family: "DM Sans";
  font-weight: 250;
  font-size: 0.9rem;
  text-decoration: none;
  letter-spacing: 2%;
  color: var(--LightestTurquoise);
}

.cta2 {
  font-size: 0.9rem;
  font-weight: 100;
  color: var(--LightTurquoise);
  letter-spacing: 3%;
}

.BeltSection {
  background-color: var(--DarkTurquoise);
  display: flex;
}

header.desktopheader{
  display:none;
}

@media (min-width: 700px) {
  h1,
  h2,
  h4 {
    font-family: "Darker Grotesque";
    letter-spacing: 1%;
  }





  header.burger{
    display: none;
  }
  header.desktopheader{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr;
  }

  h1 {
    font-size: 5.125rem;
    font-weight: 300;
    color: var(--Green);
  }

  h2 {
    font-size: 4.3rem;
    font-weight: 300;
    color: var(--LightGreen);
  }

  h4 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--LightestTurquoise);
  }

  h3,
  a,
  p,
  .menu {
    font-family: "DM Sans";
    letter-spacing: 1%;
  }

  h3 {
    font-size: 1.7rem;
    font-weight: 350;
    color: var(--LightPurple);
  }

  .menu {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--Purple);
  }

  a {
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
    color: var(--Purple);
  }

  a:hover,
  button:hover {
    color: var(--LightestTurquoise);
    cursor: pointer;
  }

  p {
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: 2%;
    line-height: 2;
    color: var(--LightTurquoise);
  }

  main h1,
  h2,
  h3,
  h4,
  p,
  a {
    margin: 3vw;
  }

  .cta1 {
    font-family: "DM Sans";
    font-weight: 250;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 2%;
    color: var(--LightestTurquoise);
  }

  .cta2 {
    font-size: 1rem;
    font-weight: 100;
    color: var(--LightTurquoise);
    letter-spacing: 3%;
  }
}
